#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.musicals{
  border: 2px solid green;
  flex: 1;
}

.movies{
  border: 2px solid rgb(5, 54, 128);
  flex:1
}
.main{
  display: flex;
  gap: 2rem;
}
.card{
  border: 2px solid blue;
}